In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

In [5]:
# Load data
data = pd.read_csv('S4_data.csv', delimiter=';')
data

,permno,date,Rn,shrout,prc,mcap,mcap_l,rf,Rm,const,Rn_e,Rm_e
0,10092,2000-09-29,-0.196429,11865.0,16.8750,2.002219e+05,NaN,0.004933,-0.051154,1,-0.201362,-0.056087
1,10092,2000-10-31,-0.144444,11865.0,14.4375,1.713009e+05,2.002219e+05,0.005023,-0.024480,1,-0.149467,-0.029503
2,10092,2000-11-30,-0.251082,12080.0,10.8125,1.306150e+05,1.713009e+05,0.005099,-0.102365,1,-0.256181,-0.107464
3,10092,2000-12-29,-0.173410,12080.0,8.9375,1.079650e+05,1.306150e+05,0.004808,0.020450,1,-0.178218,0.015642
4,10092,2001-01-31,0.588811,12080.0,14.2000,1.715360e+05,1.079650e+05,0.004023,0.039573,1,0.584788,0.035550
...,...,...,...,...,...,...,...,...,...,...,...,...
1470782,92567,1989-06-30,0.082279,110738.0,21.3750,2.367025e+06,2.186838e+06,0.006879,-0.004856,1,0.075400,-0.011735
1470783,92567,1989-07-31,0.040936,110738.0,22.2500,2.463920e+06,2.367025e+06,0.006536,0.077128,1,0.034400,0.070592
1470784,92567,1989-08-31,-0.106742,110738.0,19.8750,2.200918e+06,2.463920e+06,0.006488,0.022126,1,-0.113230,0.015638
1470785,92567,1989-09-29,0.339623,110738.0,26.6250,2.948399e+06,2.200918e+06,0.006461,-0.001473,1,0.333162,-0.007934
1470786,92567,1989-10-31,0.009390,110738.0,26.8750,2.976084e+06,2.948399e+06,0.006408,-0.029285,1,0.002982,-0.035693

In [ ]:
data.groupby('Name